.App {
  text-align: center;
}

.App-header {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  justify-content: space-around;
  padding: 20px;
  text-align: left;
}

.App-main {
  min-height: 80vh;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.todo-form {
  display: grid;
  grid-gap: 20px;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.todo-form button {
  grid-column: span 2;
}

.todo-container {
  display: flex;
}

.todos {
  flex: 1;
}

.todo {
  display: grid;
  padding: 10px;
  margin: 10px;
}

.graph-container {
  display: grid;
  justify-content: center;
}

.main-controls {
  display: grid;
  grid-gap: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.controls button {
  flex: 0 1 50%;
  margin: 10px;
}

button {
  background-color: white;
  border: 1px solid black;
  color: black;
}

button:hover {
  background-color: #96ccff;
  color: white;
  transition: all 0.3s;
  border: 1px solid white;
}

.timer {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.custom-time {
  display: grid;
  grid-auto-flow: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
