.App {
  text-align: center;
}

.App-header {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: left;
}

.App-main {
  max-height: 80vh;
  padding: 20px;
  overflow-y: scroll;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.todo-form {
  display: grid;
  grid-gap: 20px;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.todo-form button {
  grid-column: span 2;
}

.todo-container {
  display: flex;
}

.todos {
  flex: 1;
}

.todo {
  display: grid;
  color: black;
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
